<h2>Schedule detail</h2>
<%= render partial: 'shared/flash' %>
<table>
    <tr>
      <th>Title</th>
      <td><%= @task.title %></td>
    </tr>
    <tr>
        <th>Start date</th>
        <td><%= @task.startdate %></td>
    </tr>
    <tr>
        <th>End date</th>
        <td><%= @task.enddate %></td>
    </tr>
    <tr>
        <th>All day</th>
        <td>
          <% if @task.allday == "1" %>
            ○
          <% else %>
          <% end %>
        </td>
    </tr>
    <tr>
        <th>Updated date</th>
        <td><%= l @task.updated_at %></td>
    </tr>
    <tr>
        <th>Memo</th>
        <td><%= @task.VOLUMN %></td>
    </tr>
</table>

<div>
    <div class = "button"><%= link_to "See all schedules", root_path %></div>
</div>
