<h2>Reseiter New</h2>
<%= render partial: 'shared/flash' %>
<%= render partial: 'shared/error', locals: {model: @task} %>

<%= form_with model: @task do |f| %>
    <table>
        <tr>
            <th><%= f.label :title,"Title" %></th>
            <td><%= f.text_field :title %></td>
        </tr>
        <tr>
            <th><%= f.label :startdate,"Start date" %></th>
            <td><%= f.date_field :startdate, value: Time.now.strftime("%Y-%m-%d") %></td>
        </tr>
        <tr>
            <th><%= f.label :enddate,"End date" %></th>
            <td><%= f.date_field :enddate, value: Time.now.strftime("%Y-%m-%d") %> </td>
        </tr>
        <tr>
            <th><%= f.label :allday,"All day" %></th>
            <td><%= f.check_box :allday %></td>
        </tr>
        <tr>
            <th><%= f.label :memo,"Memo" %></th>
            <td><%= f.text_area :memo %></td>
        </tr>
    </table>
    <div>
        <div class = "button"><%= f.submit "Resister Now" %></div>
        <div class = "button"><%= link_to "See all schedules", root_path %></div>
    </div>
<% end %>